
<p class="tagline">
&nbsp;&nbsp;
{% if page.name == 'index.md' %}				
   <a href="{{ site.url }}/index.html" class="active">About</a>
{% else %}
   <a href="{{ site.url }}/index.html">About</a>
{% endif %}
&nbsp;&nbsp; &nbsp;&nbsp;
{% if page.name == 'people.md' %}				
   <a href="{{ site.url }}/people.html" class="active">People</a>
{% else %}
   <a href="{{ site.url }}/people.html">People</a>
{% endif %}
&nbsp;&nbsp; &nbsp;&nbsp;
{% if page.name == 'research.md' %}				
   <a href="{{ site.url }}/research.html" class="active">Research</a>
{% else %}
   <a href="{{ site.url }}/research.html">Research</a>
{% endif %}
&nbsp;&nbsp; &nbsp;&nbsp;
{% if page.name == 'resources.md' %}				
   <a href="{{ site.url }}/resources.html" class="active">Resources</a>
{% else %}
   <a href="{{ site.url }}/resources.html">Resources</a>
{% endif %}
&nbsp;&nbsp; &nbsp;&nbsp;
{% if page.name == 'contact.md' %}				
   <a href="{{ site.url }}/contact.html" class="active">Contact</a>
{% else %}
   <a href="{{ site.url }}/contact.html">Contact</a>
{% endif %}
</p>
