---
---

@import "{{ site.theme }}";

/* Change title */

h1.titlenoitalics {
  margin: 30px 20px 10px;
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  font-family:Georgia, serif;
  text-align: center;
}

p.tagline a{
  color: #fff;
}

p.tagline a.active{
  font-weight: bold;
}

/* Menu */

#menu
{
padding: 20px 20px 0;
color: #fff;
font-size: 17px;
}

#menu ul
{
list-style: none;
}

#menu li
{
    float: left;
    color: #fff
}

#menu li a
{
margin-left: 0.5em;
padding: 1.1em 1.4em 1.0em 1.4em;
color: #fff
}

#menu li a.active
{
    font-weight: bold;
    color: #fff
}


